body {
	background-color: #03610a;
	padding-top: 200px;

}

footer {
	background-color: #03610a; 
	color: #F1D382;
}

footer h2 {
	color: #F1D382;
}

h1, h2, h3 {
	font-family: 'Exo 2', sans-serif;
	text-align: center;
}

h1 {
	margin:20px 0;
	color: #F1D382;
}

h2 {
	color: #03610a;
	margin: 50px 0px 100px 0px;
}

button {
	margin: 0 auto;
    display: block;
    background-color: #03610a;
    color: #f1d382;
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    border: 3px solid #f1d382;
    font-size: 20px;
}

img {
	margin: 0 auto;
    display: block;
    max-width: 250px;
}

label {
	color: #517664;
}

#about {
	background-color: white;
	height: 400px;
}

#awards {
	background-color: #F1D382;
	padding: 50px 0;
}

.flexContainer {
	display: flex;
}

.flexSpaceAround {
	justify-content: space-around;
}

.col {
	width: 32%;
	border: 1px solid #777777;
	border-radius: 8px;
    background: #03610a;
    padding: 20px;
    margin: 0 30px;
    color: #F1D382;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(32,32,32,1);
	-moz-box-shadow: 3px 3px 10px 0px rgba(32,32,32,1);
	box-shadow: 3px 3px 10px 0px rgba(32,32,32,1);
	border-radius: 5px;
}

.wrapper {
	max-width: 80%;
	margin: 0 auto;
}

.content {
	width: 100%;
}

.medal {
	max-width: 200px;
}

#jumbotron {
	padding-bottom: 200px;
}

#successMessage {
	display: none;
}

#about {
	padding-top: 50px;
}


#signup {
	background-color: #C9DBBA;
	padding: 50px 0 50px 0;
}

#pledgeForm {
	width: 50%;
	margin: 0 auto;
}
