/*--------- SITE-WIDE STYLES -----------*/

body {
	background-color: #03610a;
	padding-top: 200px;
	font-family: 'Lato', sans-serif;

}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h1 {
	margin:20px 0;
	color: #F1D382;
}

h2 {
	color: #03610a;
	margin: 50px 0px 100px 0px;
}

button {
	margin: 0 auto;
    display: block;
    background-color: #03610a;
    color: #f1d382;
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    border: 3px solid #f1d382;
    font-size: 20px;
}

img {
	margin: 0 auto;
    display: block;
    max-width: 250px;
}

label {
	color: #517664;
}

footer {
	padding-top: 100px;
	background-color: #03610a; 
	color: #F1D382;
}

footer ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
}

footer li {
	display: inline;
}

footer h2 {
	color: #F1D382;
	margin: 0;
	padding: 0;
}

/*--------- LAYOUT -----------*/

.wrapper {
	max-width: 80%;
	margin: 0 auto;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.col-lg-4 {
	padding: 0;
}

/*--------- MAST-HEAD -----------*/

.navbar {
	background-color: rgba(241, 211, 130,0.75);
}

.navbar-toggler {
	margin: 0;
	width: 60px;
}
.navbar-dark .navbar-nav .nav-link {
	color: #03610a;
}

#jumbotron {
	padding-bottom: 200px;
}

#signup h2 {
	margin: 50px 0px 50px 0px;
}

#about {
	background-color: white;
	color: #03610a;
	padding: 50px 0 100px 0;
}

/*--------- AWARDS -----------*/

#awards {
	background-color: #F1D382;
	padding: 50px 0 100px 0;
}

.awards-col {
	border: 1px solid #777777;
	border-radius: 8px;
    background: #03610a;
    padding: 20px;
    margin: 10px;
    color: #F1D382;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(32,32,32,1);
	-moz-box-shadow: 3px 3px 10px 0px rgba(32,32,32,1);
	box-shadow: 3px 3px 10px 0px rgba(32,32,32,1);
	border-radius: 5px;
}

.medal {
	max-width: 200px;
	margin: 30px auto;
}

/*.content {
	width: 100%;
}*/

#successMessage {
	display: none;
}

#signup {
	background-color: #C9DBBA;
	padding: 50px 0 100px 0;
}

#pledgeForm {
	width: 50%;
	margin: 0 auto;
}

/*--------- FOOTER -----------*/


footer .row {
	padding-bottom: 50px;
}

#email {
	text-align: center;
	font-weight: 300;
}

#twitter-icon {
	margin-right: 40px;
}

.social-links {
	margin-top: 40px;
}

.footer-nav li:nth-child(2) {
	border-left: 1px solid;
    border-right: 1px solid;
    padding-right: 40px;
    padding-left: 40px;
}

.footer-nav li:first-child {
    padding-right: 40px;
}

.footer-nav li:last-child {
    padding-left: 40px;
}

.social-links a {
	color: rgb(241, 211, 130);
	text-decoration: none;
}

#insta-icon {
	margin: 0 40px;
}

.social-links .fa-4x {
	vertical-align: middle;
}

#signature {
	text-align: center;
	font-size: .7rem;
}

#signature a {
	text-decoration: none;
	color: inherit;
}

#signature a:hover,
footer ul a:hover,
footer a:hover {
	color: #eceef1
}

/*--------- MEDIA QUERIES -----------*/

@media screen and (max-width: 991px) {
  #footer-left {
  	padding-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  #footer-right {
  	padding-left: 50px;
  }
}

@media only screen and (min-device-width : 310px) and (max-device-width : 480px) {

body {
	padding-top: 160px;
}

#jumbotron img {
	max-width: 150px;
}

#jumbotron button {
	width: 130px;
	font-size: 15px;
} 

h1, 
h2 {
	font-size: 1.5rem;
}

#awards .wrapper {
		max-width: 90%;
}

.medal {
	max-width: 180px;
}

#pledgeForm {
	width: 85%;
}

.footer-nav li:nth-child(2) {
    padding-right: 10px;
    padding-left: 10px;
}

.footer-nav li:first-child {
    padding-right: 10px;
}

.footer-nav li:last-child {
    padding-left: 10px;
}

#phone-icon,
#insta-icon,
#twitter-icon,
#email-icon {
	font-size: 1.5em;
}

}
